
#footer {
	background: #f2e1e9 url(../images/bg-footer2.gif) repeat-x top center;
	height: auto;
	width: 100%;
}

#footer div {
	background:  url(../images/bg-footer.jpg) no-repeat top center;
}

#footer div div {
	margin: 0 auto 10px;
	width: 960px;
}

#footer div div ul {
	clear: both;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#footer div div ul li {
	float: left;
	width: 320px;
}

#footer div div ul li h2 {
	font-size: 20px;
	font-style: italic;
	margin: 0 0 0 25px;
	width: 283px;
}

#footer div div ul li h2 a {
	color: #f63c85;
	display: block;
	text-decoration: none;
}

#footer div div ul li p {
	margin-left: 25px;
    width: 283px;
}

#footer div div div {
	background: none;
	overflow: hidden;
	padding-top: 65px;
    width: auto;
}

#footer div div div div {
	float: left;
    height: auto;
    margin-left: 35px;
    width: 282px;
}

#footer div div div div.first {
	margin-left: 21px;
}

#footer div div div div h3 {
	color: #F63C85;
	font-size: 18px;
	font-style: italic;
	margin: 0;
}

#footer div div div div h3 a:hover, 
#footer div div ul li h2 a:hover,
#content div div.aside ul li a:hover {
	color: #ab3d69;
}


#footer div div div div ul {
	list-style: none;
	margin: 0;
    overflow: hidden;
    padding: 10px 0 0 10px;
}

#footer div div div div ul li {
	float: left;
    padding: 5px 0;
    width: 125px;
}

#footer div div div div ul li a {
	color: #584549;
	display: block;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	text-indent: 30px;
}

#footer div div div div ul li a:hover {
	color: #A0496C;
}

#footer div div div div ul li a.facebook {
	background: url(../images/sprites-icons.gif) no-repeat 0 -990px;
}

#footer div div div div ul li a.support {
	background: url(../images/sprites-icons.gif) no-repeat 43px -1266px;
	padding-left: 40px;
}

#footer div div div div ul li a.twitter {
	background: url(../images/sprites-icons.gif) no-repeat 0 -1300px;
}

#footer div div div div ul li a.flicker {
	background: url(../images/sprites-icons.gif) no-repeat 43px -1052px;
	padding-left: 40px;
}

#footer div div div div span {
	background: url(../images/sprites-icons.gif) no-repeat 0 -1114px;
	display: block;
	color: #584549;
	font-family: Georgia;
	font-size: 30px;
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
    text-indent: 60px;
}

#footer div p.footnote {
	background: url(../images/bg-copyright.gif) no-repeat top center;
	color: #c48aa0;
	display: block;
	height: 60px;
	line-height: 60px;
	margin: 0;
	text-align: center;
}