body {
  font-family: Arial, sans-serif;
}

button {
  background-color: #a0496c;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 45%;
  margin-top: 2%;
}

button:hover {
  background-color: #a0496c;
}


.no-history-message {
  text-align: center;
  font-size: 20px;
  color: #FF007F;
  margin-top: 50px;
  margin-bottom: 6%;
}


#page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}

.content-box {
  background: none;
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-box h3 {
  color: #FF007F;
  font-size: 22px;
  margin-bottom: 15px;
}

.content-box p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.content-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.text-content {
  background: none;
  text-align: center;
  margin: 20px;
}

.text-content p {
  font-size: 18px;
  color: #333;
}

.text-content a {
  color: #FF007F;
  text-decoration: none;
}

#content {
  overflow-x: auto; /* מאפשר גלילה אופקית */
  max-width: 100%; /* מגביל את הרוחב למקסימום של הרוחב הנראה */
}


/**************table**********************/
table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 10%;
  table-layout: fixed; /* מונע התפשטות של התאים */
  word-wrap: break-word; /* מפרק מילים ארוכות אם הן לא נכנסות */
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}



/**************************add meal modal************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.inline-fields .form-group {
  flex: 1;
}

.modal-content button[type="submit"] {
  align-self: center;
  background-color: #a0496c;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button[type="submit"]:hover {
  background-color: #a0496c;
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  cursor: pointer;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="datetime-local"],
select,
input[type="file"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 0.8rem; /* אחידות בגודל */
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
select:focus,
input[type="file"]:focus {
  border-color: #F63C85; /* הדגשה בזמן פוקוס */
}

#mealForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

/************************filter section***********************/
#filter {
  display: flex;
  align-items: center;
  gap: 20px; /* רווחים בין כל האובייקטים */
  margin-left: 10%;

}

.filter-section input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-section button {
  padding: 7px 15px;
  font-size: 14px;
  background-color:#c48aa0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0;
  margin-top: 20px; 
}

.filter-section button:hover {
  background-color: #cdc5c8 ;
}

.filter-section {
  text-align: center;
  margin: 0;
}
.filter-section .form-group {
  display: inline-block;
  margin-right: 10px;
}

/**********************chart***************************/
#chart {
  display: none; 
}

#chart h3 {
  text-align: center;
  margin-top: 30px;
}

#chart h3 span {
  font-weight: bold;
}

#chart h3 span:first-child {
  color: #9C27B0; /* צבע עבור Actual Blood Glucose Levels */
}

#chart h3 span:last-child {
  color: #FF6384; /* צבע עבור Predicted Blood Glucose Levels */
}

#chart .chart-container {
  width: 80%;
  height: 30%;
  margin: 10px auto;
}

#chart canvas {
  display: block;
  width: 100%;
  height: auto;
}


.chart-container {
  text-align: center;
 
}
#glucoseChart {
  width: 90%;
  max-height: 250px;
}

