<div id="footer">
    <div>
        <div>
            <ul>
                <li>
                    <a href="/"><img src="/images/baking-fruits.jpg" alt="Image" /></a>
                    <h2><a href="/">Track Your Meals</a></h2>
                    <p>Effortlessly log your meals and keep track of your calorie intake with our user-friendly tools. <a class="more" href="/">Learn more</a></p>
                </li>
                <li>
                    <a href="/"><img src="/images/health-benefits.jpg" alt="Image" /></a>
                    <h2><a href="/">Nutrition Tips</a></h2>
                    <p>Discover practical tips to maintain a balanced diet and make healthier food choices every day. <a class="more" href="/">Learn more</a></p>
               </li>
                <li>
                    <a href="/"><img src="/images/vitamins.jpg" alt="Image" /></a>
                    <h2><a href="/">Achieve Your Goals</a></h2>
                    <p>Set and achieve your health and fitness goals with our personalized meal tracking features. <a class="more" href="/">Learn more</a></p>
                </li>
            </ul>
        </div>
        
        <p class="footnote">&copy; 2024 Healthy Life. All Rights Reserved.</p>
    </div>
</div>