<<<<<<< HEAD
<div id="header">
    <!-- כפתור ה-Log In -->
    <button id="login-button" class="login_out-button"  onclick="window.location.href='/logIn';">Log in</button>
    <button id="logout-button" class="login_out-button" style="display:none;" onclick="window.location.href='/index';">Log Out</button>
    <div id="greeting">
        <!-- ברכת "שלום, שם משתמש" תוצג כאן -->
    </div>
    <div>
        <a href="/"><img src="/images/logo.gif" alt="Logo" /></a>
    </div>
    <ul>
        <li class="first current"><a href="/">Home</a></li>
        <li><a href="/meals">Meals</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    <script>
    window.onload = function() {
        const username = sessionStorage.getItem('username');
        
        if (username) {
            document.getElementById('greeting').textContent = `Hi, ${username}`;
            document.getElementById('login-button').style.display = 'none'; 
            document.getElementById('logout-button').style.display = 'block';
        } else {
            document.getElementById('login-button').style.display = 'block';
            document.getElementById('logout-button').style.display = 'none';
        }
    };
    
    document.getElementById('logout-button').addEventListener('click', function() {
        document.getElementById('greeting').textContent = "";
        document.getElementById('login-button').style.display = 'block'; 
        document.getElementById('logout-button').style.display = 'none';
        sessionStorage.removeItem('username');
        window.location.href = '/index'; 
    });
</script>
</div>
=======
<!-- header.ejs -->
<div id="header">
	<div>
		<a href="index.html"><img src="images/logo.gif" alt="Logo" /></a>
	</div>
	<ul>
		<li class="first"><a href="index">Home</a></li>
		<li><a href="meals">Meals</a></li>
		<li><a href="about">About us</a></li>
		<li class="selected"><a href="blog">Blog</a></li>
		<li class="last"><a href="contact">Contact Us</a></li>
	</ul>
</div>
>>>>>>> cf5fb258b6b9a6adb00b38c084f360f8a757c0ae
