<!-- header.ejs -->
<div id="header">
	<div>
		<a href="index.html"><img src="images/logo.gif" alt="Logo" /></a>
	</div>
	<ul>
		<li class="first"><a href="index">Home</a></li>
		<li><a href="meals">Meals</a></li>
		<li><a href="about">About us</a></li>
		<li class="selected"><a href="blog">Blog</a></li>
		<li class="last"><a href="contact">Contact Us</a></li>
	</ul>
</div>
