<div id="header">
    <div>
        <a href="/"><img src="/images/logo.gif" alt="Logo" /></a>
    </div>
    <!-- כפתור ה-Log In -->
    <button id="login-out-button" class="login_out-button">Log in</button>
    <div id="greeting">
        <!-- ברכת "שלום, שם משתמש" תוצג כאן -->
    </div>
    <ul>
        <li class="first current"><a href="/">Home</a></li>
        <li><a href="/meals">Meals</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
<script>
    window.onload = function() { 
        const username = sessionStorage.getItem('username');

        if (username) {
            document.getElementById('login-out-button').textContent='Log out';
            document.getElementById('greeting').textContent = `Hi, ${username}`;
        } else {
            document.getElementById('login-out-button').textContent='Log in';
        }
    };
    
    document.getElementById('login-out-button').addEventListener('click', function() {
        if(document.getElementById('login-out-button').textContent=='Log in'){
            window.location.href = "/logIn";
            
        }
        else{
            document.getElementById('greeting').textContent = "";
            sessionStorage.removeItem('username');
            window.location.reload();
        }
    });
</script>
</div>

