<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>About Us - HealthyLife</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if IE 9]>
		<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css" />
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css" />
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="index.html"><img src="images/logo.gif" alt="Logo" /></a>
			</div>
			<ul>
				<li class="first"><a href="index">Home</a></li>
				<li><a href="meals">Meals</a></li>
				<li class="selected"><a href="about">About us</a></li>
				<li><a href="blog">Blog</a></li>
				<li class="last"><a href="contact">Contact Us</a></li>
			</ul>
		</div>
		<div id="content">
			<div>
				<div class="aside">
					<ul>
						<li class="first">
							<a href="index.html"><img src="images/freshly-picked.jpg" alt="Image" /></a>
							<a href="index.html">Freshly picked</a>
						</li>
						<li>
							<a href="index.html"><img src="images/fruit-desserts.jpg" alt="Image" /></a>
							<a href="index.html">Pastry Fruit Desserts</a>
						</li>
						<li>
							<a href="index.html"><img src="images/fruit-recipes.jpg" alt="Image" /></a>
							<a href="index.html">Fruity Recipes</a>
						</li>
					</ul>
				</div>
				<div>
					<h1>About the <span>healthy life</span></h1>
					<span>Your Gateway to Better Nutrition</span>
					<p>Our platform provides users with detailed nutritional information and tools to effectively manage their dietary habits. With a secure login system, personalized nutrition insights including calorie and nutrient tracking, and daily meal logging, <span>healthy life</span> offers everything needed to follow and improve your eating habits.</p>
					<span>Track Your Progress</span>
					<p>Log daily meals and view your nutritional history through our easy-to-read graphs. This feature allows you to observe trends over time, empowering you to make better nutritional decisions based on real data and insights.</p>
					<span>Get Personalized Recommendations</span>
					<p>Alongside tracking tools, our platform provides tailored nutritional recommendations and daily reminders to support your specific dietary needs. Join us at <span>healthy life</span> for a practical approach to healthier living.</p>
					<span>Template details</span>
					<p>Version 1.0<br />Website template details and updates for the <a href="http://www.freewebsitetemplates.com/forum/f18/healthy-life-template-18760">HealthyLife Template</a>. <br />Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. <br />Feel free to replace any text and links with content relevant to your project.</p>
				</div>				
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<div>
						<div class="first">
							<h3>Newsletter</h3>
							<p>Stay updated with the latest news and healthy recipes! Subscribe to our newsletter for tips and updates directly to your inbox. <a class="more" href="/signUp">Subscribe now</a></p>
						</div>
						<div>
							<h3>Address</h3>
							<p>Lustig Campus, Aluf David St. 187<br />P.O. Box 953, Ramat Gan<br />5210901</p>
						</div>
						<div>
							<h3>Follow us</h3>
							<ul>
								<li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a></li>
								<li><a href="#" class="support">Support</a></li>
								<li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a></li>
								<li><a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a></li>
							</ul>
							<b>03-630-7109</b>
						</div>
					</div>
				</div>
				<p class="footnote">&copy; 2024 Healthy Life. All Rights Reserved.</p>
			</div>
		</div>
	</div>	
</body>
</html>