<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>About Us - HealthyLife</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>
<body>
	<div id="page">
		<%- include('../partial/header') %>
		<div id="content">
			<div>
				<div class="aside">
					<ul>
						<li class="first">
							<a href="index.html"><img src="images/freshly-picked.jpg" alt="Image" /></a>
							<a href="index.html">Freshly picked</a>
						</li>
						<li>
							<a href="index.html"><img src="images/fruit-desserts.jpg" alt="Image" /></a>
							<a href="index.html">Pastry Fruit Desserts</a>
						</li>
					</ul>
				</div>
				<div>
					<h1>About <span>HealthyLife</span></h1>
					<span>Our Journey to Empower You to Live Healthier</span>
					<p>At <span>HealthyLife</span>, our mission is simple: to make healthy living accessible and sustainable for everyone. Our journey began when we realized that managing chronic conditions like diabetes can be overwhelming. With so much conflicting information about diets and health advice, it can be hard to know where to start. That’s why we decided to create a platform that simplifies nutrition tracking and empowers users to make informed, healthy choices. Our goal is to provide you with the tools you need to take control of your health in a way that is both easy and sustainable.</p>
					<span>What Makes Us Different</span>
					<p>Unlike other platforms, we focus on personalized health journeys. We understand that everyone’s needs are different, and that's why our platform is tailored to suit individual goals and dietary preferences. Whether you're managing diabetes, trying to lose weight, or simply looking to maintain a healthy lifestyle, <span>HealthyLife</span> offers personalized insights that are relevant to you.</p>
					<span>Our Features</span>
					<p>With our platform, you can track your meals, monitor your calorie intake, and observe trends in your nutritional data over time. We also offer tailored recommendations to help you achieve your health goals. With daily meal logging, calorie counting, and detailed nutritional breakdowns, <span>HealthyLife</span> helps you make smarter food choices.</p>
	</div>
		</div>
	</div>	
	<%- include('../partial/footer') %> 
</div>	
</body>
</html>