<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>About Us - HealthyLife</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if IE 9]>
		<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css" />
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css" />
	<![endif]-->
</head>
<body>
	<div id="page">
		<%- include('../partial/header') %>
		<div id="content">
			<div>
				<div class="aside">
					<ul>
						<li class="first">
							<a href="index.html"><img src="images/freshly-picked.jpg" alt="Image" /></a>
							<a href="index.html">Freshly picked</a>
						</li>
						<li>
							<a href="index.html"><img src="images/fruit-desserts.jpg" alt="Image" /></a>
							<a href="index.html">Pastry Fruit Desserts</a>
						</li>
						<li>
							<a href="index.html"><img src="images/fruit-recipes.jpg" alt="Image" /></a>
							<a href="index.html">Fruity Recipes</a>
						</li>
					</ul>
				</div>
				<div>
					<h1>About the <span>healthy life</span></h1>
					<span>Your Gateway to Better Nutrition</span>
					<p>Our platform provides users with detailed nutritional information and tools to effectively manage their dietary habits. With a secure login system, personalized nutrition insights including calorie and nutrient tracking, and daily meal logging, <span>healthy life</span> offers everything needed to follow and improve your eating habits.</p>
					<span>Track Your Progress</span>
					<p>Log daily meals and view your nutritional history through our easy-to-read graphs. This feature allows you to observe trends over time, empowering you to make better nutritional decisions based on real data and insights.</p>
					<span>Get Personalized Recommendations</span>
					<p>Alongside tracking tools, our platform provides tailored nutritional recommendations and daily reminders to support your specific dietary needs. Join us at <span>healthy life</span> for a practical approach to healthier living.</p>
					<span>Template details</span>
					<p>Version 1.0<br />Website template details and updates for the <a href="http://www.freewebsitetemplates.com/forum/f18/healthy-life-template-18760">HealthyLife Template</a>. <br />Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. <br />Feel free to replace any text and links with content relevant to your project.</p>
				</div>				
			</div>
		</div>
		<%- include('../partial/footer') %> 

	</div>	
</body>
</html>