<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - HealthyLife</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>

<body>
    <div id="page">
        
        <%- include('../partial/header') %>
        <%- include('../partial/massages') %><!--להוסיף בכל דף שהמשתמש יכול לראות אחרי שהוא מתחבר -->
        <header>
            <h1>Your Journey to a Sweeter Life</h1>
            <div>
                <img src="/images/homeImage.jpg" alt="A healthy person enjoying a fruit salad">
                <img src="/images/2.jpg" alt="A healthy person enjoying a fruit salad">

            </div>
        </header>
    
        <section id="track-meals">
            <h2>Track Your Meals</h2>
            <p>Tracking your meals is crucial as it allows you to see exactly what you're eating and in what quantities. This way, you can maintain a balanced diet, understand where you're consuming too many or too few calories, and improve your health accordingly. It's an excellent way to identify nutritional patterns we're not always aware of and make more informed decisions about what you put into your body. <a href="meals.html">Click here</a> to get started.</p>
        </section>

        <div class="card-container">
            <div class="card">
                <h3>Drink Plenty of Water</h3>
                <p>Stay hydrated throughout the day for better health.</p>
            </div>
            <div class="card">
                <h3>Eat Colorful Vegetables</h3>
                <p>Daily intake of various vegetables enriches your diet.</p>
            </div>
            <div class="card">
                <h3>Choose Whole Grains</h3>
                <p>Opt for whole grains to get more fiber and nutrients.</p>
            </div>
        </div>
            <!-- Add more cards here if needed -->
        </div>
    
        <section id="community">
            <h2>Success Stories</h2>
            <p>Be inspired by real-life success stories of individuals who have managed to overcome diabetes. Learn from their experiences and find motivation for your own journey. <a href="success-stories.html">Read their stories here</a>.</p>
            <img src="community.jpg" alt="A group of people smiling and talking">
        </section>
    
          
            <%- include('../partial/footer') %>
    </div>

</body>

</html>