<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - HealthyLife</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>

<body>
    <div id="page">
        
        <%- include('../partial/header') %>
        <%- include('../partial/massages') %><!--להוסיף בכל דף שהמשתמש יכול לראות אחרי שהוא מתחבר -->
        <div id="images">
            <div id="lineImages">
                <img src="/images/5.jpg" alt="A healthy person enjoying a fruit salad">
                <img src="/images/2.jpg" alt="A healthy person enjoying a fruit salad">
                <img src="/images/4.jpg" alt="A healthy person enjoying a fruit salad">
                <img src="/images/3.jpg" alt="A healthy person enjoying a fruit salad">
                <img src="/images/homeImage.jpg" alt="A healthy person enjoying a fruit salad">
            </div>
        </div>
        <h1>Your Journey to a Sweeter Life</h1>

        <section id="track-meals">
            <p>Tracking your meals is crucial as it allows you to see exactly what you're eating and in what quantities. 
                This way, you can maintain a balanced diet, understand where you're consuming too many or too few calories, 
                and improve your health accordingly. It's an excellent way to identify nutritional patterns we're not always 
                aware of and make more informed decisions about what you put into your body. 
                <a href="/meals">Click here</a> to get started.
            </p>
        </section>
        <h2>OUR TIPS FOR WINNERS</h2>
        <div class="card-container">
            <div class="card">
                <h3>Drink Plenty of Water</h3>
                <p>Drinking enough water is essential for maintaining proper body function. It helps regulate body temperature, flush out toxins, and aids digestion. Staying hydrated also improves skin health and boosts energy levels. Aim to drink at least eight glasses of water a day to support your overall health.</p>
            </div>
            <div class="card">
                <h3>Eat Colorful Vegetables</h3>
                <p>Vegetables come in a variety of colors, each representing different nutrients and health benefits. Eating a colorful variety ensures that you get a wide range of vitamins, minerals, and antioxidants. Aim to include red, orange, yellow, green, and purple vegetables in your diet to boost your immune system and maintain optimal health.</p>
            </div>
            <div class="card">
                <h3>Choose Whole Grains</h3>
                <p>Whole grains are a great source of fiber, which is important for digestive health and maintaining a healthy weight. They are rich in essential vitamins and minerals, including iron, magnesium, and B vitamins. Opt for whole grain foods like oats, brown rice, quinoa, and whole wheat bread to improve your heart health and stabilize your blood sugar levels.</p>
            </div>
        </div>
        
        
    
        <section id="community">
            <h2>Success Stories</h2>
            <p>Our community is built on the strength and resilience of those who have overcome challenges and achieved 
                incredible success. Each success story is a testament to the power of perseverance, support, and the belief 
                that positive change is possible. These real-life stories not only inspire but also remind us that no one has 
                to face their journey alone. Our community is here to uplift and embrace each individual with 
                warmth. Together, we celebrate victories, and continue to inspire each 
                other.<a href="/blog">Discover more stories</a>.</p>
        </section>
        
    
          
            <%- include('../partial/footer') %>
    </div>

</body>

</html>