<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Log In - HealthyLife</title>
   <link rel="stylesheet" href="/css/logInStyle.css">

</head>
<body>
   <div class="login-container">
       <h2>Log In</h2>
       <form id="loginForm" action="/user/logIn" method="POST">
           <input type="text" name="username" placeholder="Username" value="<%= username || '' %>"  minlength="4" maxlength="20" pattern="[a-zA-Z0-9]+" 
           title="Username must be 4-20 characters long and contain only letters and numbers." required>
           <input type="password" name="password" placeholder="Password" required minlength="8" 
           title="Password must be at least 8 characters long.">
           <button class="login-button" type="submit">Log In</button>
       </form>

       <% if (errorMessage!=="") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
        <% } %>


       <a class="signup-link" href="/signUp">Create a New Account</a>
   </div>

   <script>
   </script>
</body>
</html>