<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - HealthyLife</title>
    <link rel="stylesheet" href="/css/logInStyle.css">
</head>
<body>
    <div class="signup-container">
        <h2>Create a New Account</h2>
        <form id="signupForm" action="/user/signup" method="POST">
            <input type="text" name="username" placeholder="Username" value="<%= username || '' %>"   minlength="4" maxlength="20" pattern="[a-zA-Z0-9]+" 
            title="Username must be 4-20 characters long and contain only letters and numbers." required>
            <input type="password" name="password" placeholder="Password" minlength="4" 
            title="Password must be at least 8 characters long." required>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            <button class="signup-button" type="submit">Sign Up</button>
        </form>
       <% if (errorMessage!=="") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
        <% } %>
        <a class="login-link" href="/logIn">Already have an account? Log In</a>
    </div>

    <script>
    </script>
</body>
</html>
